@use 'sass:color';
@use 'sass:math';
@use './variables' as *;
@use './mixin' as *;
@use './base' as *;
@use './sections/header' as *;
@use './sections/home-banner' as *;
@use './sections/about-section' as *;
@use './sections/contact-section' as *;
@use './sections/blog-section' as *;
@use './sections/not-found' as *;

// Reset & Base Styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

// Document Setup
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $px-body;
  font-family: $px-font;
  line-height: $px-line-height;
  font-size: $px-font-size;
  font-weight: 300;
  
  &.theme-light {
    background: $px-white;
    color: $px-body-light;
    font-weight: 400;
  }
}

// Links
a {
  color: $px-theme;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  
  @include px-hover {
    color: color.adjust($px-theme, $lightness: -8%);
  }
}
