.imageContainer {
  width: 100%;
  max-width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;

  &.authorImage {
    margin: 0;
    width: auto;
  }
}

.blogImage {
  max-width: 100%;
  height: auto;
}
