@use 'sass:color';
@use '../variables' as *;
@use '../mixin' as *;

.about-section {
  .about-img {
    img {
      @include up-md {
        max-width: inherit;
        float: right;
      }
    }
    @include down-md {
      text-align: center;
    }
  }
  .about-info {
    @include up-lg {
      padding-left: 50px;
    }
    .title {
      margin-bottom: 50px;
    }
    .about-text {
      h4 {
        color: $px-white;
        margin-bottom: 25px;
        .theme-light & {
          color: $px-dark;
        }
      }
      p {
        color: $px-body;
        .theme-light & {
          color: $px-body-light;
        }
      }
    }
    .btn-bar {
      padding-top: 35px;
      .px-btn {
        min-width: 150px;
        text-align: center;
        + .px-btn {
          margin-left: 22px;
        }
      }
    }
  }
}

.education-box {
  margin: 0;
  padding: 0;
  background: $px-dark;
  list-style: none;
  .theme-light & {
    background: $px-gray;
  }
  @include down-md {
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    color: $px-body;
    .theme-light & {
      color: $px-body-light;
    }
  }
  h6 {
    color: $px-white;
    margin: 5px 0;
    .theme-light & {
      color: $px-dark;
    }
  }
  span {
    background: $px-theme;
    color: #000000;
    font-size: 11px;
    padding: 1px 8px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
    margin-left: -24px;
    position: relative;
    margin-bottom: 9px;
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      border-top: 5px solid color.adjust($px-theme, $lightness: -25%);
      border-left: 5px solid transparent;
    }
  }
  li {
    padding: 20px;
    + li {
      border-top: 1px solid rgba($px-white, 0.05);
      .theme-light & {
        border-top: 1px solid rgba($px-dark, 0.05);
      }
    }
  }
}

.skills-box {
  h3 {
    color: $px-white;
    margin: 0 0 15px;
    .theme-light & {
      color: $px-dark;
    }
  }
  p {
    padding-bottom: 10px;
    color: $px-body;
    .theme-light & {
      color: $px-body-light;
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    &__pill {
      padding: 12px 20px;
      border-radius: 5px;
      box-shadow:
        $px-theme-rgb-1 0px 1px 2px 0px,
        $px-theme-rgb-2 0px 2px 6px 2px;
      background: $px-dark;
      color: $px-white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @include transition(ease all 0.4s);
      .theme-light & {
        color: $px-dark;
        background: $px-gray;
      }
      &:hover {
        background: $px-theme;
        box-shadow:
          rgba($px-white, 0.3) 0px 1px 2px 0px,
          rgba($px-white, 0.15) 0px 2px 6px 2px;
        color: $px-white;
        .theme-light & {
          color: $px-dark;
          background: $px-theme;
        }
      }
      &--icon {
        font-size: 24px;
      }
    }
  }
}

.experience-box {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 15px;
  background: $px-dark;
  .theme-light & {
    background: $px-gray;
  }
}

.experience-row {
  padding: 35px;
  @include down-md {
    padding: 20px;
  }
  + .experience-row {
    border-top: 1px solid rgba($px-white, 0.05);
    .theme-light & {
      border-top: 1px solid rgba($px-dark, 0.05);
    }
  }
  &--left {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include up-sm {
      border-right: 1px solid rgba($px-white, 0.05);
      .theme-light & {
        border-right: 1px solid rgba($px-dark, 0.05);
      }
    }
    @include down-sm {
      margin-bottom: 25px;
      text-align: left;
      img {
        max-width: 100px;
      }
    }
  }
  &--right {
    color: $px-body;
    position: relative;
    .theme-light & {
      color: $px-body-light;
    }
    h6 {
      color: $px-white;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 5px;
      .theme-light & {
        color: $px-dark;
      }
    }
    label {
      font-size: 13px;
      margin-bottom: 12px;
      @include down-sm {
        width: 100%;
        margin-bottom: 6px;
      }
    }
    &__type {
      display: inline-block;
      padding: 5px 10px;
      color: #000000;
      background: $px-theme;
      font-size: 10px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      top: 0;
      right: 0;
      @include down-sm {
        position: relative;
        margin-bottom: 14px;
        vertical-align: top;
      }
    }
    &__content {
      ul {
        padding: 0;
        margin-bottom: 0;
        text-decoration: none;
      }
      li {
        list-style: none;
      }
    }
  }
}
