@use '../variables' as *;
@use '../mixin' as *;
@use 'sass:color';

.blog-grid {
  .blog-img {
    overflow: hidden;
    .blog-image {
      max-height: 360px;
      object-fit: cover;
      background-position: center;
      width: 100%;
      @include down-md {
        max-height: 246px;
      }
    }
    img {
      @include transition(ease all 0.35s);
      @include scale(1);
    }
  }
  .blog-info {
    background: $px-dark;
    padding: 25px;
    margin: -80px 0 0 50px;
    position: relative;

    .theme-light & {
      background: $px-gray;
    }

    @include down-md {
      margin-left: 40px;
    }
    @include down-sm {
      margin-left: 25px;
    }

    .meta {
      color: $px-body;
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .theme-light & {
        color: $px-body-light;
      }

      .hashtag {
        font-size: 12px;
        font-weight: 600px;
        color: $px-theme;
        border-bottom: 1px solid $px-theme;
      }
    }

    p {
      font-size: 24px;
      font-weight: 500;
      padding-top: 10px;
      @include down-sm {
        font-size: 20px;
      }
    }

    a {
      color: $px-white;
      background-image: linear-gradient(130deg, $px-white, $px-white);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      @include transition(ease all 0.35s);

      .theme-light & {
        color: $px-dark;
        background-image: linear-gradient(130deg, $px-dark, $px-dark);
      }
    }
  }

  &:hover {
    .blog-img {
      img {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        @include scale(1.1);
      }
    }
    .blog-info {
      a {
        background-size: 100% 2px;
      }
    }
  }
}

.single-blog {
  padding-top: 70px;
  padding-bottom: 100px;
  background: $px-bg-1;
  min-height: 100%;
  .theme-light & {
    background: $px-white;
  }
  @include down-md {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .blog-feature-img {
    display: flex;
    align-items: center;
    justify-content: center;
    .blog-image {
      max-height: 663px;
      max-width: 1110px;
      object-fit: cover;
      background-position: center;
      width: 100%;
      @include down-md {
        max-height: 246px;
      }
    }
  }

}

.article {
  margin: 15px 0 30px;
  .article-title {
    padding: 15px 0 0 0;
    .hashtags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      .hashtag {
        font-size: 12px;
        font-weight: 600px;
        margin-bottom: 14px;
        color: $px-theme;
        border-bottom: 1px solid $px-theme;
      }
    }
    h2 {
      color: $px-white;
      font-weight: 600;
      .theme-light & {
        color: $px-dark;
      }
      @include down-md {
        font-size: 28px;
      }
    }
    .media {
      padding-top: 15px;
      border-bottom: 1px dashed rgba($px-white, 0.1);
      padding-bottom: 20px;
      .theme-light & {
        border-bottom: 1px dashed rgba($px-dark, 0.1);
      }
      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        background-position: center;
      }
      .media-body {
        padding-left: 8px;
        label {
          font-weight: 600;
          color: $px-theme;
          margin: 0;
        }
        span {
          display: block;
          font-size: 12px;
          color: $px-body;
          .theme-light & {
            color: $px-body-light;
          }
        }
      }
    }
  }

  .article-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $px-white;
      font-weight: 500;
      margin-bottom: 15px;
      margin-top: 30px;
      .theme-light & {
        color: $px-dark;
      }
    }
    p,
    li {
      color: $px-body;
      .theme-light & {
        color: $px-body-light;
      }
    }
    blockquote {
      max-width: 600px;
      padding: 15px 0 30px 0;
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: $px-theme;
      margin: 0;
      p {
        font-size: 20px;
        font-weight: 500;
        color: $px-theme;
        margin: 0;
      }
      .blockquote-footer {
        color: $px-white;
        font-size: 16px;
        .theme-light & {
          color: $px-dark;
        }
        cite {
          font-weight: 600;
        }
      }
    }
    a {
      color: $px-theme;
      @include px-hover {
        color: color.adjust($px-theme, $lightness: -8%);
        text-decoration: none;
      }
    }
  }
  .tag-cloud {
    padding-top: 10px;
  }
}
