.home-banner {
	overflow: hidden;
	position: relative;
	&:after {
		content: "";
	    position: absolute;
	    right: -20vh;
	    top: -20vh;
	    width: 100vh;
	    height: 100vh;
	    border-radius: 50%;
	    background: $px-dark;
	    z-index: 0;
	    .theme-light & {
	    	background: $px-gray;
	    }
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.full-screen {
		min-height: 100vh;
		@include up-sm {
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
	.hb-img {
		img {
			border-radius: 50%;
			@include down-sm {
				height: 400px;
				width: 400px;
			}
			@include up-md {
				max-width: 120%;
			}
		}
	}
	.type-box {
		padding-top: 40px;
		padding-bottom: 40px;
		h6 {
			color: $px-white;
			font-size: 25px;
			font-weight: 500;
			margin: 0 0 20px;
			.theme-light & {
				color: $px-dark;
			}
			@include down-sm {
				font-size: 18px;
				margin: 0 0 10px;
			}
		}
		h1 {
			font-size: 65px;
		    font-weight: 700;
		    line-height: 1;
		    margin: 0 0 20px;
			color: $px-white;
			.theme-light & {
				color: $px-dark;
			}
			@include down-lg {
				font-size: 70px;
			}
			@include down-sm {
				font-size: 45px;
				margin-bottom: 15px;
			}
		}
		.lead {
			color: $px-white;
			font-weight: 500;
			font-size: 18px;
			margin-bottom: 25px;
			.theme-light & {
				color: $px-dark;
			}
			@include down-sm {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
		.desc {
			max-width: 450px;
			font-size: 18px;
      color: $px-body;
      .theme-light & {
				color: $px-dark;
			}
			@include down-sm {
				font-size: 16px;
			}
		}
		.btn-bar {
			padding-top: 15px;
		}
	}
}