@use '../../styles/variables' as *;

:global(body.theme-light) {
  .globalLoadingContainer {
    background-color: $px-white;
  }
}

.globalLoadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $px-bg-1;
  z-index: 9999;
}

.globalLoadingSpinner {
  position: relative;
  width: 60px;
  height: 60px;
}

.spinnerCircle {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: $px-theme;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

.spinnerCircleInner {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: rgba($px-theme, 0.6);
  border-radius: 50%;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  animation: spin 1.5s linear infinite reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
